/* Reset default browser spacing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Arial, sans-serif;
}


/* Page container */
body{
  background-color: #f4f6f8;
}

/* Main app container */
div{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Title */
h1{
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Add button */
button{
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover{
  background-color: #4338ca;
}

/* Student item */
p{
  padding: 10px;
  background-color: #eef2ff;
  border-radius: 6px;
  margin-bottom: 5px;
}

/* Delete button */
button:last-child{
  background-color: #ef4444;

}

button:last-child:hover{
  background-color: #dc2626;
}